.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #5386e4;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.rep-img {
  height: 100px;
  width: 100px;
  border-radius: 5px;
}

.nav-link {
  border: 1px groove;
  border-radius: 10px;
  font-size: 20px;
  height: 10vh;
  width: 30vh;
  background-color: #aba8b2;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 10vh;
  text-decoration: none;
  margin: 20px;
}

.navbar-link {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.input {
  margin: 10px;
  border: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 30%;
}

p {
  font-size: 30px;
  color: black;
}

nav {
  align-items: center;
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 5px;
  justify-content: space-around;
}

#rep-nav {
  align-items: center;
  color: #c0c0c0;
  display: flex;
  /* flex-direction: column; */
  padding: 10px;
  margin: 50px;
  justify-content: center;
  height: 60%;
}

button {
  /* padding: 5px;
  margin: 5px; */
  width: 30%;
  height: 15%;
  display: block;
}

#watson {
  color: black;
}

#navbar {
  display: flex;
  justify-content: space-around;
  height: 80px;
  padding: 10px;
  background-color: #4c4b63;
  font-size: 30px;
  text-decoration: none;
}

#voter-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-around;
  border: 3px groove;
  width: 70vw;
  height: 30vh;
  border-radius: 10px;
  align-items: baseline;
}

#form-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.break {
  flex-basis: 100%;
  height: 0;
}

#twitter {
  height: 40px;
  width: 40px;
}

#email {
  height: 30px;
  width: 30px;
}

#home-img {
  height: 80%;
  width: 100%;
}
