.App {
  text-align: center;
}

body {
  background-color: #e0e0e0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #5386e4;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.rep-img {
  height: 100px;
  width: 100px;
  border-radius: 5px;
}

.nav-link {
  border: 1px groove;
  border-radius: 10px;
  font-size: 20px;
  height: 10vh;
  width: 30vh;
  background-color: #949396;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 10vh;
  text-decoration: none;
  margin: 20px;
}

.navbar-link {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.input {
  margin: 10px;
  border: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 30%;
}

p {
  font-size: 30px;
  color: #4c4b63;
}

nav {
  align-items: center;
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 5px;
  justify-content: space-around;
}

#rep-nav {
  align-items: center;
  color: #c0c0c0;
  display: flex;
  /* flex-direction: column; */
  padding: 10px;
  margin: 50px;
  justify-content: center;
  height: 60%;
}

button {
  /* padding: 5px;
  margin: 5px; */
  width: 30%;
  height: 15%;
  display: block;
  color: white;
}

#watson {
  color: black;
}

#navbar {
  display: flex;
  justify-content: space-around;
  height: 80px;
  padding: 10px;
  background-color: #4c4b63;
  font-size: 30px;
  text-decoration: none;
}

#voter-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-around;
  border: 3px groove;
  width: 70vw;
  height: 30vh;
  border-radius: 10px;
  align-items: baseline;
}

#form-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.break {
  flex-basis: 90%;
  height: 0;
}

#twitter {
  height: 25px;
  width: 25px;
}

#phone {
  height: 22px;
  width: 22px;
}

#email {
  height: 25px;
  width: 25px;
}

#home-img {
  height: 100%;
  width: 100%;
}

#welcome {
  position: relative;
  text-align: left;
}

.welcome {
  position: absolute;
  top: 10%;
  left: 3%;
  color: #4c4b63;
  /* font-size: 18px; */
  width: 50%;
  height: 60%;
  /* transform: translate(-50%, -50%); */
}

#welcome-head {
  font-size: 30px;
}

#chamber-label {
  font-size: 30px;
  color: #4c4b63;
}

#chamber-select {
  font-size: 30px;
  color: #4c4b63;
  border-radius: 10px;
}

h2 {
  color: #4c4b63;
}

#record-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-around;
  border: 3px groove;
  width: 90vw;
  height: 20vh;
  border-radius: 10px;
  align-items: baseline;
}
