.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.welcome {
  position: absolute;
  top: 10%;
  left: 3%;
  color: #4c4b63;
  width: 50%;
  height: 60%;
}

.App-header {
  background-color: #5386e4;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.rep-img {
  height: 100px;
  width: 100px;
  border-radius: 5px;
}

.nav-link {
  border: 1px groove;
  border-radius: 10px;
  font-size: 1.5em;
  height: 10vh;
  width: 30vh;
  background-color: #949396;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 10vh;
  text-decoration: none;
  margin: 20px;
}

.navbar-link {
  color: white;
  margin: 10px;
  text-decoration: none;
  border-radius: 5px;
}

.navbar-link:focus,
.navbar-link:hover,
.navbar-link:active {
  color: #5386e4;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.break {
  flex-basis: 90%;
  height: 0;
}

.input {
  margin: 10px;
  border: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 30%;
}

body {
  background-color: gainsboro;
  font-family: "Fjalla One", sans-serif;
}

p {
  font-size: 1.3em;
  color: #4c4b63;
}

button {
  /* padding: 5px;
  margin: 5px; */
  width: 30%;
  height: 15%;
  display: block;
  color: white;
}

h2 {
  color: #4c4b63;
}

nav {
  align-items: center;
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 5px;
  justify-content: space-around;
}

#header {
  align-self: auto;
  border: 10px;
}

#rep-nav {
  align-items: center;
  color: #c0c0c0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 50px;
  justify-content: center;
  height: 60%;
}

#record-header {
  font-size: 1.4em;
  color: #4c4b63;
}

#watson {
  color: black;
}

#navbar {
  display: flex;
  justify-content: space-around;
  height: 80px;
  padding: 10px;
  background-color: #4c4b63;
  font-size: 1.5em;
  text-decoration: none;
}

#voter-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-around;
  border: 3px groove;
  width: 70vw;
  height: 40vh;
  border-radius: 10px;
  align-items: baseline;
  margin: 3%;
  padding: 3%;
}

#form-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

#rep-container {
  display: flex;
  flex-flow: row wrap;
  align-items: space-between;
  align-content: center;
  color: black;
}

#twitter {
  height: 25px;
  width: 25px;
}

#phone {
  height: 22px;
  width: 22px;
}

#email {
  height: 25px;
  width: 25px;
}

#home-img {
  height: 100%;
  width: 100%;
}

#welcome {
  background-image: url("https://images.unsplash.com/photo-1561841898-46de669ae06b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  position: relative;
  text-align: left;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
}

#welcome-head {
  font-size: 1.8em;
}

#chamber-label {
  font-size: 1.4em;
  color: #4c4b63;
}

#chamber-select {
  font-size: 1.4em;
  color: #4c4b63;
  border-radius: 10px;
}

#record-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-around;
  border: 3px groove;
  width: 80vw;
  height: 30vh;
  border-radius: 10px;
  align-items: baseline;
  margin: 10px;
  padding: 5px;
  /* margin: 2%;
  padding: 2%; */
}

#record-error {
  margin: 30px;
  font-size: 20px;
}
#rep-error {
  margin: 30px;
  font-size: 20px;
}

#rep-info {
  width: 90%;
  margin: 5%;
  color: #4c4b63;
}

#record-info {
  width: 90%;
  margin: 5%;
}
